<div class="flex cursor-pointer select-none">
    <input type="checkbox"
           id="@GetHashCode()"
           @bind="Value"
           disabled="@Disabled"
           @onclick:stopPropagation
           class="shrink-0 mt-0.5 border-gray-200 rounded-sm text-blue-600 focus:ring-blue-500 checked:border-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-800 dark:border-neutral-700 dark:checked:bg-blue-500 dark:checked:border-blue-500 dark:focus:ring-offset-gray-800" />

    <label for="@GetHashCode()" class="text-sm text-gray-500 ms-3 dark:text-neutral-400">
        @Label
    </label>
</div>

@code {
    [Parameter] public bool Value { get; set; }
    [Parameter] public EventCallback<bool> ValueChanged { get; set; }

    [Parameter] public string Label { get; set; }

    [Parameter] public bool Disabled { get; set; }

    public async Task ToggleAsync()
    {
        if (Disabled) return;
        await SetValueAsync(!Value);
    }

    public async Task SetValueAsync(bool newValue)
    {
        if (Disabled || Value == newValue) return;

        Value = newValue;
        await ValueChanged.InvokeAsync(Value);
    }
}