<li class="inline-flex items-center">
    @if (IsActive)
    {
        <span class="inline-flex items-center text-sm font-semibold text-gray-800 truncate dark:text-neutral-200" aria-current="page">
            @ChildContent
        </span>
    }
    else
    {
        <a class="flex items-center text-sm text-gray-500 hover:text-blue-600 focus:outline-hidden focus:text-blue-600 
                  dark:text-neutral-500 dark:hover:text-blue-500 dark:focus:text-blue-500"
           href="@Href">
            @ChildContent
        </a>
    }
</li>

@if (!IsActive)
{
    <svg class="shrink-0 mx-2 size-4 text-gray-400 dark:text-neutral-600"
         xmlns="http://www.w3.org/2000/svg" width="24" height="24"
         viewBox="0 0 24 24" fill="none" stroke="currentColor"
         stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
        <path d="m9 18 6-6-6-6"></path>
    </svg>
}

@code {
    [CascadingParameter] private PrelineBreadcrumb? Parent { get; set; }

    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public string Href { get; set; } = "#";
    [Parameter] public bool IsActive { get; set; }
}