@inherits LayoutComponentBase

<div class="flex min-h-screen">
    <!-- Main Content Area -->
    <main class="flex flex-col flex-grow bg-white dark:bg-neutral-900">
        <!-- Top Bar -->
        <div class="p-4 shadow-lg">
            <NavMenu/>
        </div>

        <!-- Body Content -->
        <article class="p-6 flex-grow shadow-inner">
            @Body
        </article>
    </main>
</div>

<AutoInit />
