@using System.Security.Claims
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Identity
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject UserManager<ApplicationUser> UserManager

<div class="bg-white shadow-md">
    <div class="container mx-auto flex justify-between items-center py-4">
        <a class="text-lg font-bold text-gray-800 hover:text-gray-600 transition-colors" href="/">
            WaxMapArt.Web
        </a>
        <nav class="hidden md:flex space-x-6">
            <NavLink class="text-gray-600 hover:text-gray-900 transition-colors" href="/">
                <i class="ri-artboard-2-line"></i> Map Generator
            </NavLink>
            <NavLink class="text-gray-600 hover:text-gray-900 transition-colors" href="palettes">
                <i class="ri-palette-line"></i> Palettes
            </NavLink>
            <NavLink class="text-gray-600 hover:text-gray-900 transition-colors" href="blocks">
                <i class="ri-box-2-fill"></i> Blocks
            </NavLink>
        </nav>

        <div class="hidden md:flex space-x-4">
            <AuthorizeView>
                <Authorized>
                    <div class="flex items-center space-x-2">
                        <i class="ri-user-line"></i>
                        <span class="text-gray-800 font-medium">@_userName</span>
                        @if (_isDev)
                        {
                            <span class="inline-flex items-center rounded-md bg-pink-50 px-2 py-1 text-xs font-medium text-pink-700 ring-1 ring-pink-700/10">
                                Developer
                            </span>
                        }
                    </div>
                </Authorized>
                <NotAuthorized>
                    <div class="flex space-x-2">
                        <NavLink class="bg-gray-200 text-gray-800 px-4 py-2 rounded hover:bg-gray-300 transition-colors" href="login">
                            Log In
                        </NavLink>
                        <NavLink class="bg-gray-800 text-white px-4 py-2 rounded hover:bg-gray-700 transition-colors" href="signin">
                            Sign In
                        </NavLink>
                    </div>
                </NotAuthorized>
            </AuthorizeView>
        </div>
    </div>
</div>

@code {
    private string? _userName;
    private bool _isDev = false;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        
        _userName = authState.User.Claims.FirstOrDefault(claim => claim.Type == ClaimTypes.Name)?.Value ?? "Guest";
        _isDev = authState.User.Claims.Any(claim => claim is { Type: ClaimTypes.Role, Value: "Developer" });
    }
}